NGROK_AUTHTOKEN=ng_xyz123
NGROK_DOMAIN=example.ngrok.dev
HF_TOKEN=hf_xyz123

LLM_HOST=http://localhost
LLM_PORT=3000
LLM_MODEL=meta-llama/Meta-Llama-3-8B-Instruct

SUPABASE_URL=
SUPABASE_KEY=sb_xyz123
